<div class="container-fluid" >
    <div class="row">
        <div class="col-md-5">
            <h2>Student Managment
                <br> System</h2>
        </div>
        
        <div class="col-md-3" style=" margin-top: 20vh">
            
            <form class="form-login"  #signupForm="ngForm" (ngSubmit)="submitForm(signupForm.value)">

                <h2>Create Account</h2>
                <p class="title">Create your account</p>

                <div class="form-group">
                        <input type="text" class="form-control" placeholder="Username" name="userName" ngModel>
                </div>

                <div class="form-group">
                        <input type="text" class="form-control" placeholder="Email" name="email" ngModel>                    
                </div>

                <div class="form-group">
                    <input type="password" class="form-control" placeholder="Password" name="password" ngModel>
                </div>

                <div class="form-group">
                    <input type="password" class="form-control" data-toggle="password" placeholder="Confirm Password" name="confirmPassword" ngModel>
                </div>

                <button type="submit" class="btn btn-primary btn-block btn-lg">Sign Up</button>

                <div  class="form-footer">Already have an account?
                    <a  (click)="login()" >Login here</a>
                </div>
            </form>
                
        </div>
    </div>
</div>