<div class="container-fluid">
    <div class="row" style="height: 100vh;  ">
        <div class="col-md-5">
            <h2>Student Managment
                <br> System</h2>
        </div>
        <div class="col-md-3" style=" margin-top: 20vh">

            <form class="form-login"  #loginForm="ngForm" (ngSubmit)="loginCheck(loginForm.value)">

                <h2>Sign in</h2>

                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Username" name="userName" ngModel>
                </div>

                <div class="form-group">
                    <input type="password" class="form-control" placeholder="Password" name="password" ngModel>
                </div>

                <button  type="submit" class="btn btn-primary btn-block btn-lg">Log in</button>


                <p class="hint-text">
                    <a href="#">Forgot Password?</a>
                </p>
                <div   class="form-footer">Don't have an account?
                    <a (click)="signup()" >Create One</a>
                </div>
            </form>

        </div>
    </div>
</div>